aiohttp==3.6.2
alpha-vantage==2.2.0
appdirs==1.4.4
astroid==2.4.2
async-timeout==3.0.1
attrs==19.3.0
base58==2.1.0
bitarray==1.2.2
cached-property==1.5.2
cachetools==3.1.1
certifi==2020.6.20
cffi==1.14.4
chardet==3.0.4
click==7.1.2
crypto==1.4.1
cryptography==3.2.1
cycler==0.10.0
Cython==0.29.21
cytoolz==0.11.0
decorator==4.4.2
dill==0.3.3
distlib==0.3.1
dlx==1.0.4
dnspython==2.0.0
docplex==2.18.200
email-validator==1.1.2
eth-abi==2.1.1
eth-account==0.5.4
eth-hash==0.3.1
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
fastdtw==0.3.4
fastjsonschema==2.14.5
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.9
flask-mongoengine==1.0.0
Flask-WTF==0.14.3
future==0.18.2
geocoder==1.38.1
geographiclib==1.50
geoip2==3.0.0
geopy==2.0.0
gunicorn==20.0.4
h5py==3.1.0
hexbytes==0.2.1
idna==2.10
iexfinance==0.4.3
importlib-metadata==3.1.0
inflection==0.5.1
iniconfig==1.1.1
ipfshttpclient==0.7.0a1
ipregistry==2.0.1
ipython-genutils==0.2.0
isort==5.6.4
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.14.1
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.7.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lru-dict==1.1.7
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.2.1
maxminddb==1.5.2
mccabe==0.6.1
mixed-naive-bayes==0.0.1
mongoengine==0.22.1
more-itertools==8.6.0
mpmath==1.1.0
multiaddr==0.0.9
multidict==4.7.5
multitasking==0.0.9
Naked==0.1.31
nest-asyncio==1.4.3
netaddr==0.8.0
networkx==2.5
ntlm-auth==1.5.0
numpy==1.18.2
orderedset==2.0.3
packaging==20.7
pandas==1.0.3
parsimonious==0.8.1
pipenv==2020.11.15
pizzapi==0.0.6
pluggy==0.13.1
ply==3.11
projectq==0.5.1
protobuf==3.14.0
psutil==5.7.3
py==1.9.0
pybind11==2.6.1
pycparser==2.20
pycryptodome==3.9.7
PyHamcrest==2.0.2
pylint==2.6.0
pymongo==3.11.2
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.1.2
python-constraint==1.4.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3
pyzmq==19.0.2
qiskit==0.23.1
qiskit-aer==0.7.1
qiskit-aqua==0.8.1
qiskit-ibmq-provider==0.11.1
qiskit-ignis==0.5.1
qiskit-terra==0.16.1
qsharp==0.14.2011.120240
qsharp-chemistry==0.14.2011.120240
qsharp-core==0.14.2011.120240
Quandl==3.5.3
ratelim==0.1.6
requests==2.24.0
requests-ntlm==1.1.0
retworkx==0.6.0
rlp==2.0.1
scikit-learn==0.22.2.post1
scipy==1.4.1
shellescape==3.8.1
simpy==4.0.0
six==1.15.0
sympy==1.7
toml==0.10.2
toolz==0.11.1
tornado==6.1
traitlets==5.0.5
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.10
varint==1.0.2
virtualenv==20.2.2
virtualenv-clone==0.5.4
web3==5.16.0
websockets==8.1
Werkzeug==1.0.1
wrapt==1.12.1
WTForms==2.3.3
xlrd==2.0.1
xmltodict==0.12.0
yarl==1.4.2
yfinance==0.1.55
zipp==3.4.0
