.incard{
    align-items: center;
    justify-content: center;
    position: fixed;
}
#apple, #orange{
    color: black;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
}
.cardtitle{
    color: black;
}
.answer{
    color: black;
    font-size: calc(30px + 2vmin);
}
